.tetris{
  display: inline-block;
  position: fixed;
  margin: 30px auto;
  background-color: #AAA;
  border: 2px solid #333;
  text-align: center;
  &:after{
    display: table;
    content:'';
    clear:both;
  }
}

.gameboard{
  float: left;
  width: 260px;
  margin: 10px 10px;
  background-color: #FFF;
  box-shadow: 0 0 0 2px #333;
}

.dashboard{
  float: right;
  width: 120px;
  margin: 10px 15px 10px 5px;
}

.column{
  display: block;
  float: left;
  width: 10%;
  height: 100%;
  margin-bottom: -1px;
}
.column:first-child{
  margin-left: -1px;
}

.cell{
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 2px;
  // box-shadow: 0 0 0 1px #333;
}

.score{
  display:block;
  background-color: #FDFDFD;
  color: #333;
  font-size: 30px;
  padding: 0.5em;
}